/* variables */
:root{
    --color-orange:#ce6d06;
    --secondary-color: #444;
    --max-width: 1100px;
}

/* Menu */
.nav__link{
    padding: 10px;
    text-decoration: none;
}
.nav{
    list-style: none;
}
.nav__item{
    display: inline-block;
}
.nav__link:hover{
    color: var(--color-orange);
}
.nav__link--active{
    color: var(--color-orange);
}